* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 2rem;
}

.container img {
    width: 22rem;
    height: 28rem;
    border-radius: 1rem 1rem 0 0;
}